* {
    border: 0px none;
    padding: 0px;
    margin: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    margin: 10px;
}
main {
    margin: auto;
    width: 900px;
}
.spritebox {
    display: inline-block;
    vertical-align: top;
    width: 100px;
    height: 100px;
    padding: 10px;
}